<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/aboutus.css">
  <title>sobre nosotros</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-5">Sobre nosotros</h1>
        <h5 class="text-center">Somos Rolling Games, una página dedicada a la venta de videojuegos, proporcionando los
          mejores precios a los increíbles juegos de todo tipo. Contamos con una gran variedad de categorías y mucho
          más, siendo la plataforma número uno en streaming de juegos.</h5>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 d-flex flex-sm-grow justify-content-center col-md-6 col-lg-3 mb-4 mx-auto">
        <div class="card">
          <div class="content">
            <div class="back">
              <div class="back-content">
                <img src="/assets/img/WhatsApp Image 2024-01-29 at 13.50.36.jpeg" alt="img-p1" class="img-fluid mt-6 w-100">
              </div>
            </div>
            <div class="front">
              <div class="img">
                <div class="circle"></div>
                <div class="circle" id="right"></div>
                <div class="circle" id="bottom"></div>
              </div>
              <div class="front-content">
                <small class="badge">Jugador 1</small>
                <div class="description">
                  <div class="title">
                    <p class="title"><strong>NICOLAS</strong></p>
                    <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256"
                      xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                    </svg>
                  </div>
                  <p class="card-footer">30 Mins &nbsp; | &nbsp; 1 Serving</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex flex-sm-grow justify-content-center col-md-6 col-lg-3 mb-4 mx-auto ">
        <div class="card">
          <div class="content">
            <div class="back">
              <div class="back-content">
                <img src="/assets/WhatsApp Image 2024-01-29 at 13.50.35.jpeg" alt="img-p2" class="img-fluid mt-6 w-100">
              </div>
            </div>
            <div class="front">
              <div class="img">
                <div class="circle"></div>
                <div class="circle" id="right"></div>
                <div class="circle" id="bottom"></div>
              </div>
              <div class="front-content">
                <small class="badge">Jugador 2</small>
                <div class="description">
                  <div class="title">
                    <p class="title"><strong>RICARDO</strong></p>
                    <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256"
                      xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                      <!-- Icono SVG aquí -->
                    </svg>
                  </div>
                  <p class="card-footer">30 Mins &nbsp; | &nbsp; 1 Serving</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex flex-sm-grow justify-content-center col-md-6 col-lg-3 mb-4 mx-auto ">
        <div class="card">
          <div class="content">
            <div class="back">
              <div class="back-content">
                <img src="/assets/img/WhatsApp Image 2024-01-29 at 13.50.37.jpeg" alt="img-p3" class="img-fluid mt-6 w-100">
              </div>
            </div>
            <div class="front">
              <div class="img">
                <div class="circle"></div>
                <div class="circle" id="right"></div>
                <div class="circle" id="bottom"></div>
              </div>
              <div class="front-content">
                <small class="badge">Jugador 3</small>
                <div class="description">
                  <div class="title">
                    <p class="title"><strong>ALVARO</strong></p>
                    <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256"
                      xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                      <!-- Icono SVG aquí -->
                    </svg>
                  </div>
                  <p class="card-footer">30 Mins &nbsp; | &nbsp; 1 Serving</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex flex-sm-grow justify-content-center col-md-6 col-lg-3 mb-4 mx-auto ">
        <div class="card">
          <div class="content">
            <div class="back">
              <div class="back-content ">
                <img src="/assets/img/WhatsApp Image 2024-01-29 at 13.50.38.jpeg" alt="img-p4" class="img-fluid mt-6 w-100">
              </div>
            </div>
            <div class="front">
              <div class="img">
                <div class="circle"></div>
                <div class="circle" id="right"></div>
                <div class="circle" id="bottom"></div>
              </div>
              <div class="front-content">
                <small class="badge">Jugador 4</small>
                <div class="description">
                  <div class="title">
                    <p class="title"><strong>BRAIAN</strong></p>
                    <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256"
                      xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                      <!-- Icono SVG aquí -->
                    </svg>
                  </div>
                  <p class="card-footer">30 Mins &nbsp; | &nbsp; 1 Serving</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    </div>
  </body>
  </html>