<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/error404.css">
    <link rel="stylesheet" href="../style/navbar/navbar.css">
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="stylesheet" href="/style/carrousel/carrousel.css" />
    <link rel="stylesheet" href="/style/cards/cards.css" />
    <link rel="stylesheet" href="/style/footer/footer.css" />
    <title>Rolling Games | error404</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-navbar p-0">
          
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo03"
              aria-controls="navbarTogglerDemo03"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand  ps-4 py-lg-2" href="#">
              <img src="/assets/admin-logo.png" alt="logo-web" class="" height="40">
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a
                    class="nav-link categoria-color fw-bold  "
                    aria-current="page"
                    href="#"
                    >Inicio</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold categoria-color" href="#">Tienda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bold categoria-color" href="#">Nosotros</a>
                </li>
              </ul>
             <div class="pe-2 pt-2">
              <a href="#" class="text-secondary btn-navbar rounded-5 pt-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-person mb-2"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
                  />
                </svg>
              </a>
             </div>
            </div>
        </nav>
      </div>
        <!-- Navbar -->
      </header>

    <div class="container">
        <div class="row d-flex align-item-center justify-content-center mt-5 mb-5">
                <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
                    <div class="wheel"></div>
                    <div class="hamster">
                        <div class="hamster__body">
                            <div class="hamster__head">
                                <div class="hamster__ear"></div>
                                <div class="hamster__eye"></div>
                                <div class="hamster__nose"></div>
                            </div>
                            <div class="hamster__limb hamster__limb--fr"></div>
                            <div class="hamster__limb hamster__limb--fl"></div>
                            <div class="hamster__limb hamster__limb--br"></div>
                            <div class="hamster__limb hamster__limb--bl"></div>
                            <div class="hamster__tail"></div>
                        </div>
                    </div>
                    <div class="spoke"></div>
                </div>
                <div class="row error-text-container">
                    <div class="error-text">
                        <h2> Upps Error 404!!!</h2>
                    </div>
                </div> 
           
        </div>
    </div>

</body>

</html>