<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./styles.css/styles.css">
  <title>game</title>
</head>
<body >
  <header>
    <nav class="navbar navbar-expand-lg navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main class="overflow-hidden">
    <section class="container-fluid d-flex mt-3 pt-3 ">
      <iframe width="300" height="500" src="https://www.youtube.com/embed/L30zvMbVJlM?si=_h2gA2GWiQbDoRN2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="d-flex col-6"></iframe>
      <div class="contenedorTexto d-flex flex-column col-6">
        <img src="./img/img proyecto.jpg" alt="img1" class="d-flex">
        <button class="appstore-button">
          <svg viewBox="0 0 24 24">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M18.71 19.5C17.88 20.74 17 21.95 15.66 21.97C14.32 22 13.89 21.18 12.37 21.18C10.84 21.18 10.37 21.95 9.09997 22C7.78997 22.05 6.79997 20.68 5.95997 19.47C4.24997 17 2.93997 12.45 4.69997 9.39C5.56997 7.87 7.12997 6.91 8.81997 6.88C10.1 6.86 11.32 7.75 12.11 7.75C12.89 7.75 14.37 6.68 15.92 6.84C16.57 6.87 18.39 7.1 19.56 8.82C19.47 8.88 17.39 10.1 17.41 12.63C17.44 15.65 20.06 16.66 20.09 16.67C20.06 16.74 19.67 18.11 18.71 19.5ZM13 3.5C13.73 2.67 14.94 2.04 15.94 2C16.07 3.17 15.6 4.35 14.9 5.19C14.21 6.04 13.07 6.7 11.95 6.61C11.8 5.46 12.36 4.26 13 3.5Z"
              ></path>
            </g>
          </svg>
          <span class="button-text">
            <span class="top-text">Download on the</span>
            <span class="bottom-text">App Store</span>
          </span>
        </button>
        <h5>50US$</h5>
        <button class="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
          </svg>
          <div class="text">
            comprar
          </div>
        </button>
        <button class="button2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
  </svg>
  <div class="text">
    añadir al carrito
  </div>
</button>
        <p class="border-top mt-5">RESEÑAS RECIENTES: Variadas™</p>
        <p>Etiquetas populares para este producto:</p>
        <p>FECHA DE LANZAMIENTO: 29 SEP 2023</p>
        <p>DESARROLLADOR: EA Canada & EA Romania</p>
        <p class="border-bottom">EDITOR: Electronic Arts</p>
      </div>
    </section>
    <div class="row col-md-12">
      <h5><u>Requisitos del sistema</u></h5>
    </div>
    <div class="row ">
      <div class="texto col-md-3">
        <p class="mb-3">MÍNIMO:</p>
        <p class="mb-2">SO: Windows 10 - 64-Bit</p> 
        <p class="mb-2">Procesador: Intel Core i5-6600K @ 3.50GHz or AMD Ryzen 5 1600 @ 3.2 GHZ</p> 
        <p class="mb-2">Memoria: 8 GB de RAM</p>
        <p class="mb-2">Gráficos: NVIDIA GeForce GTX 1050 Ti 4GB or AMD Radeon RX 570 4GB</p>
        <p class="mb-2">DirectX: Versión 12</p>
        <p class="mb-2">Red: Conexión de banda ancha a Internet</p>
        <p class="mb-2">Almacenamiento: 100 GB de espacio disponible</p>
        <p>Notas adicionales: DirectX: 12 Compatible video card or equivalent (feature level 12_0)</p> 
      </div>
      <div class="texto col-md-3">
        <p class="mb-3">RECOMENDADO:</p>
        <p class="mb-2">SO: Windows 10 - 64-Bit</p>
        <p class="mb-2">Procesador: Intel Core i7-6700 @ 3.40GHz or AMD Ryzen 7 2700X @ 3.7 GHZ</p>
        <p class="mb-2">Memoria: 12 GB de RAM</p>
        <p class="mb-2">Gráficos: NVIDIA GeForce GTX 1660 or AMD RX 5600 XT</p>
        <p class="mb-2">DirectX: Versión 12</p>
        <p class="mb-2">Red: Conexión de banda ancha a Internet</p>
        <p class="mb-2">Almacenamiento: 100 GB de espacio disponible</p>
        <p>Notas adicionales: DirectX: 12 Compatible video card or equivalent (feature level 12_0)</p>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex">
  <div class="col-md-4 d-flex ms-5">
    <div class="card mb-3 mt-2 ms-1 w-50">
      <img src="./img/img proyecto.jpg" class="img-fluid w-45 m-0" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title text-center m-0" >FIFA 24</h5>
        <p class="card-text">EL MEJOR JUEGO DE DEPORTE</p>
        <p class="card-text"><small class="text-muted">50US$</small></p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
  </div>  
  <div class="col-md-4">
    <div class="card mb-3 mt-2 ms-1 w-50">
      <img src="./img/img proyecto.jpg" class="img-fluid w-45 m-0" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title text-center m-0" >FIFA 24</h5>
        <p class="card-text">EL MEJOR JUEGO DE DEPORTE</p>
        <p class="card-text"><small class="text-muted">50US$</small></p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
  </div>  
  <div class="col-md-4">
    <div class="card mb-3 mt-2 ms-1 w-50">
      <img src="./img/img proyecto.jpg" class="img-fluid w-45 m-0" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title text-center m-0" >FIFA 24</h5>
        <p class="card-text">EL MEJOR JUEGO DE DEPORTE</p>
        <p class="card-text"><small class="text-muted">50US$</small></p>
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
  </div>  
</div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>