<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/game.css">
    <title>Rolling Games | Games</title>
</head>
<body>
    <div class="container">
        <div class="row ">
            <h1 class="mb-4">FIFA 24</h1>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex">
                <iframe width="560" height="400"
                    src="https://www.youtube.com/embed/-vL01jbgENE?si=NBE1J4oBM4qUEWCF&autoplay=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;"
                    allowfullscreen class="autoplay"></iframe>
            </div>
            <div class="fixed col-lg-6 col-md-6 col-sm-12 d-flex flex-column align-items-center mt-sm-5">
                <img src="./img/img proyecto.jpg" alt="img1" class="img-fluid mb-1 "
                    style="max-width: 80%; height: auto;">
                <button class="appstore-button">
                    <svg viewBox="0 0 24 24">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M18.71 19.5C17.88 20.74 17 21.95 15.66 21.97C14.32 22 13.89 21.18 12.37 21.18C10.84 21.18 10.37 21.95 9.09997 22C7.78997 22.05 6.79997 20.68 5.95997 19.47C4.24997 17 2.93997 12.45 4.69997 9.39C5.56997 7.87 7.12997 6.91 8.81997 6.88C10.1 6.86 11.32 7.75 12.11 7.75C12.89 7.75 14.37 6.68 15.92 6.84C16.57 6.87 18.39 7.1 19.56 8.82C19.47 8.88 17.39 10.1 17.41 12.63C17.44 15.65 20.06 16.66 20.09 16.67C20.06 16.74 19.67 18.11 18.71 19.5ZM13 3.5C13.73 2.67 14.94 2.04 15.94 2C16.07 3.17 15.6 4.35 14.9 5.19C14.21 6.04 13.07 6.7 11.95 6.61C11.8 5.46 12.36 4.26 13 3.5Z">
                            </path>
                        </g>
                    </svg>
                    <span class="button-text">
                        <span class="top-text">Download on the</span>
                        <span class="bottom-text">App Store</span>
                    </span>
                </button>
                <h5>50US$</h5>
                <button class="button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                    </svg>
                    <div class="text">
                        comprar
                    </div>
                </button>
                <button class="button2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                    </svg>
                    <div class="text">
                        añadir al carrito
                    </div>
                </button>
            </div>
        </div>
        <!-- requisitos del sistema -->
        <div class="row ">
            <h5 class="text-start mt-5"><u>Requisitos del sistema</u></h5>
            <div class="requisitos col-md-6 col-sm-12 d-flex align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6 d-flex flex-column align-items-center  ms-2">
                    <h6 class="mb-3">MÍNIMO:</h6>
                    <p class="mb-3">SO: Windows 10 - 64-Bit</p>
                    <h6 class="mb-3">CPU</h6>
                    <p class="mb-3">Procesador: Intel Core i5-6600K @ 3.50GHz or AMD Ryzen 5 1600 @ 3.2 GHZ</p>
                    <h6 class="mb-3">MEMORIA RAM</h6>
                    <p class="mb-3">Memoria: 8 GB de RAM</p>
                    <h6 class="mb-3">CPU</h6>
                    <p class="mb-3">Gráficos: NVIDIA GeForce GTX 1050 Ti 4GB or AMD Radeon RX 570 4GB</p>
                    <h6 class="mb-3">VERSION DE DIRECTX</h6>
                    <p class="mb-3">DirectX: Versión 12</p>
                    <h6 class="mb-3">RED</h6>
                    <p class="mb-3">Red: Conexión de banda ancha a Internet</p>
                    <h6 class="mb-3">ALMACENAMIENTO</h6>
                    <p class="mb-3">Almacenamiento: 100 GB de espacio disponible</p>
                    <p>Notas adicionales: DirectX: 12 Compatible video card or equivalent (feature level 12_0)</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 d-flex flex-column align-items-center mb-4 ms-1">
                    <h6 class="mb-3">RECOMENDADO:</h6>
                    <p class="mb-3">SO: Windows 10 - 64-Bit</p>
                    <h6 class="mb-3">CPU</h6>
                    <p class="mb-3">Procesador: Intel Core i7-6700 @ 3.40GHz or AMD Ryzen 7 2700X @ 3.7 GHZ</p>
                    <h6 class="mb-3">MEMORIA RAM</h6>
                    <p class="mb-3">Memoria: 12 GB de RAM</p>
                    <h6 class="mb-3">CPU</h6>
                    <p class="mb-3">Gráficos: NVIDIA GeForce GTX 1660 or AMD RX 5600 XT</p>
                    <h6 class="mb-3">VERSION DE DIRECTX</h6>
                    <p class="mb-3">DirectX: Versión 12</p>
                    <h6 class="mb-3">RED</h6>
                    <p class="mb-3">Red: Conexión de banda ancha a Internet</p>
                    <h6 class="mb-3">ALMACENAMIENTO</h6>
                    <p class="mb-3">Almacenamiento: 100 GB de espacio disponible</p>
                    <p>Notas adicionales: DirectX: 12 Compatible video card or equivalent (feature level 12_0)</p>
                </div>
            </div>
            <!-- requisitos del sistema -->
        </div> 
        <!-- card fifa -->
        <div class="row mt-5 ">
            <div class="card  mb-3 mt-2 col-8 border-0">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./img/img proyecto.jpg"
                            class="img-fluid rounded-start w-100 h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-light fw-bold">FIFA 24 DEMO</h5>
                            <p class="card-text text-light">Juega este emocionante juego de deportes en su versión gratuita.
                            </p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card   mb-3 mt-2 col-8 border-0">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./img/img proyecto.jpg"
                            class="img-fluid rounded-start w-100 h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-light fw-bold">FIFA 24 Edición Deluxe</h5>
                            <p class="card-text text-light">El mejor juego de deportes, edición deluxe con premios
                                exclusivos y packs para los apasionados de este juego.</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card  mb-3 mt-2 col-8 border-0">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./img/img proyecto.jpg"
                            class="img-fluid rounded-start w-100 h-100" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-light fw-bold">FIFA 24 Edición Premium</h5>
                            <p class="card-text text-light">El mejor juego de deportes para los jugadores de élite, con
                                edición premium que incluye paquetes de regalos y acceso gratuito a juegos en línea.</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- card fifa -->
        <h4 class="mt-5">valoracion de jugadores</h4>
        <div class="radio-input col-lg-6 col-md-5 col-sm-12 d-flex justify-content-center">
            <input value="value-1" name="value-radio" id="value-1" type="radio" class="star s1" />
            <input value="value-2" name="value-radio" id="value-2" type="radio" class="star s2" />
            <input value="value-3" name="value-radio" id="value-3" type="radio" class="star s3" />
            <input value="value-4" name="value-radio" id="value-4" type="radio" class="star s4" />
            <input value="value-5" name="value-radio" id="value-5" type="radio" class="star s5" />
        </div>

        <h4 class="mt-5">juegos recomendados</h4>

        <!-- cards juegos recomendados-->
        <div class="d-flex flex-wrap justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-2 p-0 d-flex flex-sm-grow justify-content-center ">
                <div class="card bg-transparent pt-5 pb-1 ps-5 pe-5 p-lg-0 rounded-5 border-0 mb-3 card-zoom "
                    style="width: 18rem">
                    <img src="./img/img proyecto.jpg" class="card-img-top rounded-5 p-3" alt="..." />
                    <div class="card-body d-flex flex-column px-0 pt-0">
                        <p class="card-text categoria-color fw-bold text-center mb-0">AVENTURA</p>
                        <h5 class="card-title text-light fw-bold text-center mb-1">
                            HADES
                        </h5>
                        <p class="card-text text-light fw-bold text-center my-1">
                            22,99 US$
                        </p>
                        <div class="px-0 text-center mt-2">
                            <a href="#" class="btn btn-light fw-bold ps-2 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bag-heart-fill mb-1 me-1" viewBox="0 0 16 16">
                                    <path
                                        d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                </svg>
                                VER MAS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 p-0 d-flex flex-sm-grow justify-content-center ">
                <div class="card bg-transparent pt-5 pb-1 ps-5 pe-5 p-lg-0 rounded-5 border-0 mb-3 card-zoom "
                    style="width: 18rem">
                    <img src="./img/img proyecto.jpg" class="card-img-top rounded-5 p-3" alt="..." />
                    <div class="card-body d-flex flex-column px-0 pt-0">
                        <p class="card-text categoria-color fw-bold text-center mb-0">AVENTURA</p>
                        <h5 class="card-title text-light fw-bold text-center mb-1">
                            HADES
                        </h5>
                        <p class="card-text text-light fw-bold text-center my-1">
                            22,99 US$
                        </p>
                        <div class="px-0 text-center mt-2">
                            <a href="#" class="btn btn-light fw-bold ps-2 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bag-heart-fill mb-1 me-1" viewBox="0 0 16 16">
                                    <path
                                        d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                </svg>
                                VER MAS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 p-0 d-flex flex-sm-grow justify-content-center ">
                <div class="card bg-transparent pt-5 pb-1 ps-5 pe-5 p-lg-0 rounded-5 border-0 mb-3 card-zoom "
                    style="width: 18rem">
                    <img src="./img/img proyecto.jpg" class="card-img-top rounded-5 p-3" alt="..." />
                    <div class="card-body d-flex flex-column px-0 pt-0">
                        <p class="card-text categoria-color fw-bold text-center mb-0">AVENTURA</p>
                        <h5 class="card-title text-light fw-bold text-center mb-1">
                            HADES
                        </h5>
                        <p class="card-text text-light fw-bold text-center my-1">
                            22,99 US$
                        </p>
                        <div class="px-0 text-center mt-2">
                            <a href="#" class="btn btn-light fw-bold ps-2 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bag-heart-fill mb-1 me-1" viewBox="0 0 16 16">
                                    <path
                                        d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                </svg>
                                VER MAS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 p-0 d-flex flex-sm-grow justify-content-center ">
                <div class="card bg-transparent pt-5 pb-1 ps-5 pe-5 p-lg-0 rounded-5 border-0 mb-3 card-zoom "
                    style="width: 18rem">
                    <img src="./img/img proyecto.jpg" class="card-img-top rounded-5 p-3" alt="..." />
                    <div class="card-body d-flex flex-column px-0 pt-0">
                        <p class="card-text categoria-color fw-bold text-center mb-0">AVENTURA</p>
                        <h5 class="card-title text-light fw-bold text-center mb-1">
                            HADES
                        </h5>
                        <p class="card-text text-light fw-bold text-center my-1">
                            22,99 US$
                        </p>
                        <div class="px-0 text-center mt-2">
                            <a href="#" class="btn btn-light fw-bold ps-2 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bag-heart-fill mb-1 me-1" viewBox="0 0 16 16">
                                    <path
                                        d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                </svg>
                                VER MAS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 p-0 d-flex flex-sm-grow justify-content-center ">
                <div class="card bg-transparent pt-5 pb-1 ps-5 pe-5 p-lg-0 rounded-5 border-0 mb-3 card-zoom "
                    style="width: 18rem">
                    <img src="./img/img proyecto.jpg" class="card-img-top rounded-5 p-3" alt="..." />
                    <div class="card-body d-flex flex-column px-0 pt-0">
                        <p class="card-text categoria-color fw-bold text-center mb-0">AVENTURA</p>
                        <h5 class="card-title text-light fw-bold text-center mb-1">
                            HADES
                        </h5>
                        <p class="card-text text-light fw-bold text-center my-1">
                            22,99 US$
                        </p>
                        <div class="px-0 text-center mt-2">
                            <a href="#" class="btn btn-light fw-bold ps-2 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bag-heart-fill mb-1 me-1" viewBox="0 0 16 16">
                                    <path
                                        d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                                </svg>
                                VER MAS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- cards juegos recomendados-->
    </div>
    <script src="./js/game.js"></script>
</body>
</html>