.card-bg {
    background-color: #18181C;
}

.img-limit {
    max-width: 315px;
    max-height: 399px;
}


.bg-filter {
    filter: blur(1.2px);
    color: #000000fd;
    
}

.bg-shadow {
    /* background: rgba(5, 5, 5, 0.7); */
    backdrop-filter: brightness(0.5);
}