.bg-cards {
    background-color: #121212;
}



.card-zoom {
    transition: transform 0.3s ease;

  }
  
  .card-zoom:hover {
    transform: scale(1.03);
  }


 .categoria-color {
  color: #9A9A9A
 }


 .sombreado {
  transition: all 0.3s; 
}


.sombreado:hover {
  opacity: 0.8;
  filter: brightness(80%);
  
}



.sombreado :not(.hijo) {
  opacity: 0.8;
  filter: brightness(90%);
}

.hover-pointer {
  cursor: pointer;
}

.sombra-difuminada {
  filter: brightness(75%) blur(0.1px)
}

@keyframes aparecerGradualmente {
  0% {
    opacity: 0;
    filter: brightness(0);
  }
  100% {
    opacity: 1;
    filter: brightness(1); 
  }
}

@keyframes desplazarIzquierdaDerecha2 {
  0% {
    transform: translateX(-1%);
    opacity: 0; /* Comienza con opacidad 0 al inicio */
  }
  100% {
    transform: translateX(0%);
    opacity: 1; /* Aparece completamente al final */
  }
}

/* Clase para aplicar la animación */
.animacion-principal {
  animation: desplazarIzquierdaDerecha2 3s ease-in-out;
}