.bg-cards {
    background-color: #121212;
}



.card-zoom {
    transition: transform 0.3s ease;

  }
  
  .card-zoom:hover {
    transform: scale(1.03);
  }


 .categoria-color {
  color: #9A9A9A
 }


 .sombreado {
  transition: all 0.3s; 
}


.sombreado:hover {
  opacity: 0.8;
  filter: brightness(80%);
  
}


/* .sombreado-fijo {
  opacity: 0.8;
  filter: brightness(110%);
} */


.sombreado :not(.hijo) {
  opacity: 0.8;
  filter: brightness(90%);
}

