.bg-navbar {
    background-color: #18181C;
}

.color-text-navbar {
    color: #E6E6EA
}

.btn-navbar {
    border-radius: 10px 10px 10px 10px; /* Radio de borde para hacer el botón redondeado */
  padding: 1px 8px; 
  background-color: #303034; /* Color de fondo del botón */
}
  
  /* Cambiar el estilo al pasar el ratón por encima */
  .btn-rounded:hover {
    background-color: #61CDFF; /* Cambia el color de fondo al pasar el ratón por encima */
  }

  input[type="text"]:focus {
    outline: #303034;
    color:#E6E6EA
  }