.bg-navbar {
    background-color: #18181C;
}

.color-text-navbar {
    color: #E6E6EA
}

.btn-navbar {
    border-radius: 10px 10px 10px 10px;
  padding: 1px 8px; 
  background-color: #303034; 
}
  

  .btn-rounded:hover {
    background-color: #61CDFF; 
  }

  input[type="text"]:focus {
    outline: #303034;
    color:#E6E6EA
  }

  .cursor-navbar {
    cursor: pointer; 
    color: #9A9A9A;
    transition: color 0.3s ease; 

    &:hover {
        color: white;
    }
}

